<div class="container">
  <div class="row">
    <div class="col">
      <div class="position-relative mt-5">
        <a class="btn btn-outline-dark position-absolute end-0" (click)="logOut()" href="">Logout</a>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div>
      <table class="table table-hover">
        <caption hidden>Pet list</caption>
        <thead>
        <tr>
          <th scope="col" class="sort" (click)="order('id')"># <i [class]="orderDirection('id')"></i></th>
          <th scope="col" class="sort" (click)="order('name')">Name <i [class]="orderDirection('name')"></i></th>
          <th scope="col" class="sort" (click)="order('code')">Code <i [class]="orderDirection('code')"></i></th>
          <th scope="col" class="sort" (click)="order('type')">Type <i [class]="orderDirection('type')"></i></th>
          <th scope="col" class="sort" (click)="order('color')">Fur color<i [class]="orderDirection('color')"></i></th>
          <th scope="col" class="sort" (click)="order('country')">Country<i [class]="orderDirection('country')"></i>
          </th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pet of userPets">
          <th scope="row">{{pet.id}}</th>
          <td>{{pet.name}}</td>
          <td>{{pet.code}}</td>
          <td>{{pet.type}}</td>
          <td>{{pet.color}}</td>
          <td>{{pet.country}}</td>
          <td><a class="btn btn-primary" href="/edit" (click)="editPet(pet.code)">Edit</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="position-relative mt-5">
        <a class="btn btn-primary position-absolute end-0" href="/add">Add pet</a>
      </div>
    </div>
  </div>
</div>
