<!--tabel peab olema sorteeritav-->

<div class="container">
  <div class="row">
    <div class="col">
      <div class="position-relative mt-5">
          <a class="btn btn-outline-dark position-absolute end-0" href="">Logout</a>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Type</th>
        <th scope="col">Fur color</th>
        <th scope="col">Country</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mustikas</td>
        <td>202211151535</td>
        <td>Cat</td>
        <td>Brown</td>
        <td>Estonia</td>
        <td><a class="btn btn-primary" href="/edit">Edit</a></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
