
<div class="container">
  <div class="mt-0">
    <div class="row">
      <div class="col-2 mx-auto">
        <a href="/list"><img src="assets/logo_pm_200x200.png" alt="logo.png"></a>
      </div>
    </div>
    <h2 class="text-center"> Edit Pet </h2>
    <div *ngIf="typeValues?.length && countryValues?.length && colorValues?.length" class="row">
      <div class="col-md-5 mx-auto">
        <form>
          <div class="mb-3">
            <label for="name">Name</label>
            <div class="input-group">
              <input [(ngModel)]="name" type="text" class="form-control" id="name" required="true" placeholder="Name"
              name="name">
            </div>
          </div>
          <div class="mb-3">
            <label for="code">Code</label>
            <div class="input-group">
              <input [(ngModel)]="code" type="text" class="form-control disabled text-muted" id="code" required="true" placeholder="Code" readonly name="code">
            </div>
          </div>

          <div class="mb-3">
            <label for="types">Type</label>
            <select [(ngModel)]="type" class="form-select d-block w-100" id="types" required="true" name="type">
              <option value="">Choose...</option>
              <option *ngFor="let value of typeValues" [value]="value.id">{{value.type}}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="colors">Fur color</label>
            <select [(ngModel)]="color" class="form-select d-block w-100" id="colors" required="true" name="color">
              <option value="">Choose...</option>
              <option *ngFor="let value of colorValues" [value]="value.id">{{value.color}}</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="countries">Country of origin</label>
            <select [(ngModel)]="country" class="form-select d-block w-100" id="countries" required="true" name="country">
              <option value="">Choose...</option>
              <option *ngFor="let value of countryValues" [value]="value.id">{{value.country}}</option>
            </select>
          </div>
          <div class="form-group pt-1 col-4 mx-auto">
            <button (click)="editPet()" class="btn btn-primary" type="submit">
              Save
            </button>
          </div>
          <div class="form-group pt-1 col-4 mx-auto">
            <button (click)="deletePet()" class="btn btn-primary" type="submit">
              Delete
            </button>
          </div>
        </form>
        <div *ngIf="!petInfo?.typeId">
          loading
        </div>
      </div>
    </div>
  </div>
</div>

