<div class="container">
  <div class="mt-0">
    <div class="row">
      <div class="col-2 mx-auto">
        <a href=""><img src="assets/logo_pm_200x200.png" alt="logo.png"></a>
      </div>
    </div>
    <h2 class="text-center"> Welcome to Pet Management </h2>
    <div class="row">
      <div class="col-md-5 mx-auto">
        <div class="card card-body">
          <form>
            <div class="form-group required">
              <label for="username"> Enter your Username </label>
              <input type="text" class="form-control text-lowercase" id="username" required="true" name="username" value="">
            </div>
            <div class="form-group required">
              <label class="d-flex flex-row align-items-center" for="password"> Enter your Password </label>
              <input type="password" class="form-control" required="true" id="password" name="password" value="">
            </div>
            <div class="form-group required">
              <label class="d-flex flex-row align-items-center" for="password"> Repeat your Password </label>
              <input type="password" class="form-control" required="true" id="password2" name="password" value="">
            </div>
            <div class="form-group required">
              <label class="d-flex flex-row align-items-center" for="password"> Enter your First Name</label>
              <input type="text" class="form-control" required="true" id="firstname" name="password" value="">
            </div>
            <div class="form-group required">
              <label class="d-flex flex-row align-items-center" for="password"> Enter your Last Name</label>
              <input type="text" class="form-control" required="true" id="lastname" name="password" value="">
            </div>
            <div class="form-group required">
              <label class="d-flex flex-row align-items-center" for="password"> Enter your e-mail </label>
              <input type="text" class="form-control" required="true" id="email" name="password" value="">
            </div>
            <div class="form-group mt-4 mb-4">
            </div>
            <div class="form-group pt-1 col-md-2 mx-auto">
              <button class="btn btn-primary btn-block" type="submit">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
